<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.primaitech.siprima">

    <application
        android:name="com.primagroup.primaitech.siprima.Config.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.primagroup.primaitech.siprima.Hpp.Form_Hpp_Proyek"></activity>
        <activity android:name="com.primagroup.primaitech.siprima.Tipe_Rumah.Form_Tipe_Rumah" />
        <activity android:name="com.primagroup.primaitech.siprima.Proyek.Fragment_Hpp_Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.Tipe_Rumah.Detail_Tipe_Rumah" />
        <activity android:name="com.primagroup.primaitech.siprima.Tipe_Rumah.Tipe_Rumah" />
        <activity android:name="com.primagroup.primaitech.siprima.Dashboard.Detail_Menu" />
        <activity android:name="com.primagroup.primaitech.siprima.Kavling.Form_Kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Karyawan.Form_Karyawan" />
        <activity android:name="com.primagroup.primaitech.siprima.Karyawan.Pilih_Karyawan" />
        <activity android:name="com.primagroup.primaitech.siprima.Lahan.Form_Lahan" />
        <activity android:name="com.primagroup.primaitech.siprima.Kategori_kavling.Form_Kategori_Kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Proyek.Form_Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.RAB.Form_RAB" />
        <activity android:name="com.primagroup.primaitech.siprima.Divisi.Form_Divisi" />
        <activity android:name="com.primagroup.primaitech.siprima.Unit_Bisnis.Detail_Unit_Bisnis" />
        <activity android:name="com.primagroup.primaitech.siprima.Unit_Bisnis.Pilih_Unit_Bisnis" />
        <activity android:name="com.primagroup.primaitech.siprima.Akun_Bank.Fragment_Ab_Unit_Bisnis" />
        <activity android:name="com.primagroup.primaitech.siprima.Proyek.Pilih_Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.Akun_Bank.Fragment_Ab_Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.RAB.Pilih_RAB" />
        <activity android:name="com.primagroup.primaitech.siprima.RAB.Fragment_Rab_Unit_Bisnis" />
        <activity android:name="com.primagroup.primaitech.siprima.RAB.Fragment_Rab_Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.Akun_Bank.Form_Akun_Bank" />
        <activity android:name="com.primagroup.primaitech.siprima.Unit_Bisnis.Unit_Bisnis" />
        <activity android:name="com.primagroup.primaitech.siprima.Lahan.Detail_Lahan" />
        <activity android:name="com.primagroup.primaitech.siprima.Lahan.Lahan" />
        <activity android:name="com.primagroup.primaitech.siprima.RAB.Detail_RAB" />
        <activity android:name="com.primagroup.primaitech.siprima.Artikel.Detail_Artikel" />
        <activity android:name="com.primagroup.primaitech.siprima.Kegiatan.Ubah_Kegiatan" />
        <activity android:name="com.primagroup.primaitech.siprima.Pembeli.Form_Pembeli" />
        <activity android:name="com.primagroup.primaitech.siprima.Cuti.Detail_Cuti" />
        <activity android:name="com.primagroup.primaitech.siprima.Cuti.Cuti" />
        <activity android:name="com.primagroup.primaitech.siprima.Kegiatan.Detail_Kegiatan" />
        <activity android:name="com.primagroup.primaitech.siprima.Kegiatan.Kegiatan" />
        <activity android:name="com.primagroup.primaitech.siprima.Kavling.Pilih_Kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Pembeli.Pilih_Pembeli" />
        <activity android:name="com.primagroup.primaitech.siprima.Pembeli.Fragment_Calon_Pembeli" />
        <activity android:name="com.primagroup.primaitech.siprima.Pembeli.Fragment_Pembeli" />
        <activity android:name="com.primagroup.primaitech.siprima.Kehadiran.Kehadiran" />
        <activity android:name="com.primagroup.primaitech.siprima.Penjualan.Form_Konfirmasi" />
        <activity android:name="com.primagroup.primaitech.siprima.Penjualan.Form_Pembayaran" />
        <activity android:name="com.primagroup.primaitech.siprima.Penjualan.Form_Data_Kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Penjualan.Tambah_Penjualan" />
        <activity android:name="com.primagroup.primaitech.siprima.Follow_Up.Form_Follow_Up" />
        <activity android:name="com.primagroup.primaitech.siprima.Follow_Up.Detail_Follow_Up" />
        <activity android:name="com.primagroup.primaitech.siprima.Pembeli.Kunjungan_Pembeli" />
        <activity android:name="com.primagroup.primaitech.siprima.Follow_Up.Tambah_Follow_Up" />
        <activity android:name="com.primagroup.primaitech.siprima.Penjualan.Detail_Penjualan" />
        <activity android:name="com.primagroup.primaitech.siprima.Penjualan.Penjualan" />
        <activity android:name="com.primagroup.primaitech.siprima.Pembeli.Detail_Pembeli" />
        <activity android:name="com.primagroup.primaitech.siprima.Pembeli.Pembeli" />
        <activity android:name="com.primagroup.primaitech.siprima.Karyawan.Detail_Karyawan" />
        <activity android:name="com.primagroup.primaitech.siprima.Promo.Detail_Promo" />
        <activity android:name="com.primagroup.primaitech.siprima.Kavling.Detail_Kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Kategori_kavling.Detail_Kategori_Kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Divisi.Detail_Divisi" />
        <activity android:name="com.primagroup.primaitech.siprima.Proyek.Detail_Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.Akun_Bank.Detail_Akun_Bank" />
        <activity android:name="com.primagroup.primaitech.siprima.RAB.RAB" />
        <activity android:name="com.primagroup.primaitech.siprima.Artikel.Artikel" />
        <activity android:name="com.primagroup.primaitech.siprima.Kavling.Kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Keluhan.Keluhan" />
        <activity android:name="com.primagroup.primaitech.siprima.Karyawan.Karyawan" />
        <activity android:name="com.primagroup.primaitech.siprima.Karyawan.Fragment_K_Unit_Bisnis" />
        <activity android:name="com.primagroup.primaitech.siprima.Karyawan.Fragment_K_Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.Promo.Promo" />
        <activity android:name="com.primagroup.primaitech.siprima.Divisi.Divisi" />
        <activity android:name="com.primagroup.primaitech.siprima.Proyek.Proyek" />
        <activity android:name="com.primagroup.primaitech.siprima.Akun_Bank.Akun_bank" />
        <activity android:name="com.primagroup.primaitech.siprima.Kategori_kavling.Kategori_kavling" />
        <activity android:name="com.primagroup.primaitech.siprima.Akun.Ubah_Profil" />
        <activity android:name="com.primagroup.primaitech.siprima.Dashboard.Dashboard" />
        <activity android:name="com.primagroup.primaitech.siprima.Akun.Login" />
        <activity android:name="com.primagroup.primaitech.siprima.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.primagroup.primaitech.siprima.Config.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.primagroup.primaitech.siprima.Config.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name="com.primagroup.primaitech.siprima.Config.AlertReceiver" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>