<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.primaitech.siprima">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Config.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Kehadiran.Tambah_Absensi"></activity>
        <activity android:name=".Kavling.Pilih_Kavling" />
        <activity android:name=".Pembeli.Pilih_Pembeli" />
        <activity android:name=".Kehadiran.Kehadiran" />
        <activity android:name=".Penjualan.Form_Konfirmasi" />
        <activity android:name=".Penjualan.Form_Pembayaran" />
        <activity android:name=".Penjualan.Form_Data_Kavling" />
        <activity android:name=".Penjualan.Tambah_Penjualan" />
        <activity android:name=".Follow_Up.Form_Follow_Up" />
        <activity android:name=".Follow_Up.Detail_Follow_Up" />
        <activity android:name=".Pembeli.Kunjungan_Pembeli" />
        <activity android:name=".Follow_Up.Tambah_Follow_Up" />
        <activity android:name=".Penjualan.Detail_Penjualan" />
        <activity android:name=".Penjualan.Penjualan" />
        <activity android:name=".Pembeli.Detail_Pembeli" />
        <activity android:name=".Pembeli.Pembeli" />
        <activity android:name=".Karyawan.Detail_Karyawan" />
        <activity android:name=".Promo.Detail_Promo" />
        <activity android:name=".Kavling.Detail_Kavling" />
        <activity android:name=".Kategori_kavling.Detail_Kategori_Kavling" />
        <activity android:name=".Divisi.Detail_Divisi" />
        <activity android:name=".Proyek.Detail_Proyek" />
        <activity android:name=".Akun_Bank.Detail_Akun_Bank" />
        <activity android:name=".RAB.RAB" />
        <activity android:name=".Artikel.Artikel" />
        <activity android:name=".Kavling.Kavling" />
        <activity android:name=".Keluhan.Keluhan" />
        <activity android:name=".Karyawan.Karyawan" />
        <activity android:name=".Promo.Promo" />
        <activity android:name=".Divisi.Divisi" />
        <activity android:name=".Proyek.Proyek" />
        <activity android:name=".Akun_Bank.Akun_bank" />
        <activity android:name=".Kategori_kavling.Kategori_kavling" />
        <activity android:name=".Akun.Ubah_Profil" />
        <activity android:name=".Dashboard.Dashboard" />
        <activity android:name=".Akun.Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Config.AlertReceiver" />
    </application>

</manifest>